@font-face {
    font-family: IRANSansWeb;
    src: url(../webfonts/IranianSans.ttf);

}

body {
    direction: rtl;
    text-align: right;
    font-family: IRANSansWeb;
    font-size: 14px !important;
    margin: 0;
    background-color: #e6e6e6;
}

li {
    list-style-type: none;
}

.main_page {
    /*min-height: 100vh;*/
}


/* header section */
.header {
    padding: 30px;
    min-height: 100px;
    background-image: linear-gradient(red, #410000);
    color: #ffffff;
}

.header .header_title {
}

.toolbar {
    padding: 10px 0;
    background-color: #3a0d0d;
    color: #ffffff;
}

.toolbar .section_title {
    font-size: 25px;
}

.toolbar .btn {
    font-size: 14px;
}

/* movie list styles */
.movie_list_section {
    min-height: 59vh;
    background-color: #ffffff !important;
}

.movie_list_section .movie_lists {
    padding: 0;
}

.movie_list_section .movie_lists .movie_item {
    border-radius: 5px;
}

.movie_list_section .movie_lists .movie_item:nth-child(odd) {
    background-color: #88969d91;
    height: 30px;
    padding: 5px;
}

.movie_list_section .movie_lists .movie_item:nth-child(odd):hover {
    background-color: #88969dc7;
}

.movie_list_section .movie_lists .movie_item:nth-child(even) {
    background-color: #fff3cd;
    height: 30px;
    padding: 5px;
}

.movie_list_section .movie_lists .movie_item:nth-child(even):hover {
    background-color: #ebe0bd;
}

.movie_list_section .movie_lists .movie_item .movie_link {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 5px 15px;
}

.movie_list_section .movie_lists .movie_item .movie_link:hover {
    text-decoration: none;
    color: #000000;
}

.movie_list_section .movie_lists .movie_item .movie_link .movie_name {
    margin: 0 5px;
}

.movie_list_section .movie_lists .movie_item .movie_link .director {

}


/* cinema details */
.item_details {
    background-color: #ffffff;
    padding: 30px 10px;
    min-height: 59vh;
}

.item_details .label_details {
    line-height: 40px;
}

.item_details .details_description {
    line-height: 40px;
    background-color: #fafafa;
    border-radius: 10px;
}

.item_details .item-image {
    height: 150px;
    width: 100%;
    margin-top: 17px;
    border: 0;
    border-radius: 10px;
}

.item_details .movie_image {
    height: 300px;
    /*width: 100%;*/
    margin-top: 17px;
}



/* show time list page */
.show_time_list {
    background-color: #ffffff;
}

.show_time_list .search-bar {}
.show_time_list .search-bar .show_time_inputs {
    padding: 10px;
}
.show_time_list .search-bar .show_time_inputs .show_time_label {

}
.show_time_list .search-bar .show_time_inputs .show_time_input {}
.show_time_list .search-bar .show_time_inputs .show_time_input input {
    width: 100%;
    height: 30px;
    border: 1px solid;
    border-radius: 5px;
    outline: 0;
}
.show_time_list .search-bar .show_time_inputs .show_time_input select {
    width: 100%;
    height: 30px;
    border: 1px solid;
    border-radius: 5px;
}

.show_time_list .search-bar .show_time_inputs .show_time_input select option {
    width: 70%;
    height: 30px;
}



/* footer section */
.footer {
    padding: 35px;
    background-image: linear-gradient(red, #410000);
    min-height: 130px;
}

.footer .footer_content {
    font-size: 15px;
    color: #ffffff;
}

.footer .social-media-icon {
    color: #ffffff;
}

.footer .social-media-icon:hover {
    text-decoration: none;
    color: black;
}

.footer .social-media-icon .social_icon {
    font-size: 17px;
}