<div class="show_time_inputs col-12">
    <div class="">
    <div class="row m-0">
        <label class="col-{{ label_size|default:2 }} show_time_label mr-auto" for="{{ field.id_for_label }}">
            {{ field.label }}
        </label>
        <div class="col-{{ input_size|default:4 }} show_time_input ml-auto">
            {{ field }}
            {{ field.errors }}
        </div>
    </div>
</div>
</div>

