{% extends "ticketing/_base_page.html" %}


{% block title %}
فهرست سینماها
{% endblock %}


{% block toolbar_title %}
فهرست سینماها
{% endblock %}


{% block main_content %}
<div class="movie_list_section">
    <div class="container py-3">
        {% if cinema_list %}
            <ul class="item-list movie_lists">
                {% for cinema in cinema_list%}
                    <li class="col-11 mx-auto my-1 movie_item">
                    <a href="{% url "ticketing:cinema_details" cinema_id=cinema.id %}" class="movie_link">
                        <i class="fa fa-film"></i>
                        <span class="movie_name">
                            {{ cinema }}
                        </span>
                        <small class="director">
                            ({{ cinema.city }})
                        </small>
                    </a>
                    </li>
                {% endfor %}

            </ul>
        {% else %}
            <div class="alert alert-danger col-11 mx-auto">
                متاسفانه هیچ سینمایی یافت نشد.
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
