{% extends "ticketing/_base_page.html" %}


{% block title %}
    {{ cinema.name }}
{% endblock %}


{% block toolbar_title %}
    <i class="fa fa-building"></i>
    {{ cinema.name }}
{% endblock %}


{% block toolbar_buttons %}
    <a class="btn btn-warning py-1 px-2" href="{% url "ticketing:cinema_list" %}">
        <i class="fa fa-building"></i>
        فهرست سینماها
    </a>
{% endblock %}


{% block main_content %}
    {# start page content here #}
    <div class="item_details">
        <div class="container">
            <div class="row m-0">
                <div class="col-12 col-sm-8">
                    <div class="row m-0 my-3">
                        <div class="col-2">
                            <small class="label_details">
                                شهر:
                            </small>
                        </div>
                        <div class="col-9 details_description">
                            {{ cinema.city }}
                        </div>
                    </div>
                    <div class="row m-0 my-3">
                        <div class="col-2">
                            <small class="text-muted label_details">
                                ظرفیت سالن:
                            </small>
                        </div>
                        <div class="col-9 details_description">
                            {{ cinema.capacity }}
                            نفر
                        </div>
                    </div>
                    <div class="row m-0 my-3">
                        <div class="col-2">
                            <small class="text-muted label_details">
                                تلفن:
                            </small>
                        </div>
                        <div class="col-9 details_description">
                            {{ cinema.phone }}
                        </div>
                    </div>
                    <div class="row m-0 my-3">
                        <div class="col-2">
                            <small class="text-muted label_details">
                                آذرس:
                            </small>
                        </div>
                        <div class="col-9 item-text-box details_description">
                            {{ cinema.address }}
                        </div>
                    </div>

                </div>
                <div class="col-12 col-sm-4 text-center">
                    {% if cinema.image %}
                        <img class="item-image img-rounded" src="{{ cinema.image.url }}" alt="{{ cinema.name }}">
                    {% else %}
                        <i class="far fa-10x fa-building text-muted"></i>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}