{% extends "ticketing/_base_page.html" %}
{% load static %}
{% block title %}
    سانس های نمایش فیلم
{% endblock %}

{% block toolbar_title %}
    فهرست سانس های نمایش
{% endblock %}

{% block main_content %}
    <div class="show_time_list">
        <div class="container">
            <div class="row m-0">
                <div class="col py-3">
                    <div class="row">
                        <div class="col my-1 mx-3 py-2 px-3 search-bar">
                            <form action="" method="get" class="form-row px-2">
                                {% include "ticketing/_form_field.html" with field=search_form.movie_name %}
                                {% include "ticketing/_form_field.html" with field=search_form.cinema %}

                                {% include "ticketing/_form_field.html" with field=search_form.movie_length_min label_size=2 input_size=4 %}
                                {% include "ticketing/_form_field.html" with field=search_form.movie_length_max label_size=2 input_size=4 %}

                                {% include "ticketing/_form_field.html" with field=search_form.price_level  %}
                                <div class="col-12" >
                                    <div class="col-6 mx-auto">
                                    {{ search_form.sale_is_open }}
                                    {{ search_form.sale_is_open.label }}
                                </div>
                                </div>

                                <button type="submit" class="btn btn-primary btn-sm mx-auto">
                                    جستجو
                                </button>
                            </form>
                        </div>
                    </div>
                    {% if showtimes %}
                        <div class="row px-2">
                            <div class="col">
                                <div class="alert alert-info mt-2 mb-0 py-1 px-3">
                                    {{ showtimes.count }}
                                    سانس یافت شد.
                                </div>
                            </div>
                        </div>
                        <div class="row px-2">
                            {% for showtime in showtimes %}
                                <div class="col-3 px-2 py-2">
                                    <a href="{% url "ticketing:showtime_details" showtime_id=showtime.id %}"
                                       class="showtime-box btn
                                {% if showtime.status != showtime.SALE_OPENED %}
                                    disabled btn-outline-secondary
                                {% else %}
                                    btn-outline-dark
                                {% endif %}
                                ">
                                        <span>{{ showtime.movie }}</span>
                                        <br/>
                                        <span>{{ showtime.cinema }}</span>
                                        <br/>
                                        <span>
                                {{ showtime.start_time|date:"l Y/n/j ساعت H:i" }}
                            </span>

                                        <span class="showtime-status badge
                                {% if showtime.status == showtime.SALE_NOT_STARTED %}
                                    badge-warning
                                {% elif showtime.status == showtime.SHOW_CANCELED %}
                                    badge-danger
                                {% elif showtime.status == showtime.SALE_OPENED %}
                                    badge-success
                                {% else %}
                                    badge-secondary
                                {% endif %}">
                                {% if showtime.status == showtime.SALE_OPENED %}
                                    {{ showtime.get_price_display }}
                                {% else %}
                                    {{ showtime.get_status_display }}
                                {% endif %}
                            </span>
                                        {% if showtime.status == showtime.SALE_OPENED and showtime.free_seats < 10 %}
                                            <span class="badge badge-danger">
                                {{ showtime.free_seats }}
                                صندلی
                                </span>
                                        {% endif %}
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="alert alert-danger">
                            در حال حاضر هیچ سانسی برای نمایش فیلم وجود ندارد.
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}